<h1>New Restaurant</h1>

<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <select class="form-select" aria-label="Default select example">
  <option selected>Select category</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
